extends layout

block content
  h2 Upload Together.
  div.row
    div.col-xs-2
      img(src="/img/dropbox.svg", style="max-height: 90px", class="img-responsive center-block")
    div.col-xs-9.col-md-7
      p.lead Connect GongyuBox to your dropbox account and share a secret link to allow your friends to upload files directly to your dropbox folder.
  a.btn.btn-lg.btn-start(href='/auth/dropbox') Start using gongyuBox
